[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[packages]
requests = "*"
python-magic = "*"
python-dotenv = "*"
xmltodict = "*"
bitmath = "*"
pyyaml = "*"

[requires]
python_version = "3.8"
